h2 {
    text-align: center;
}

.btn {
    margin: 5px 5px;
    width: 80px;
    height: 80px;
    line-height: 80px;
    background-color: lightblue;
    border-radius: 8px;
    border: none;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
    float: right;
}

.btn:hover {
    background-color: rgb(221, 238, 243);
    cursor: pointer;
    font-size: 28px;
}

a {
    text-decoration-line: none;
}

table {
    text-align: center;
}